fastapi 
fastapi[standard]
uvicorn[standard] 
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy 
alembic 
psycopg2-binary 
pydantic 
pydantic_settings
python-dotenv 
bcrypt 
requests 
openai
boto3
botocore
pinecone
tiktoken